 <div class="navbar"> 
   <ul>
     <li><a href="">home</a></li>
     <li><a href="">repos</a></li>
     <li><a href="">about</a></li>
   </ul>
 </div>

<form class="search">
   
      <input type="text" class="form-control" placeholder="Enter github username you want to search..." [(ngModel)]="myusername" name="myusername"  style="text-align:center"> 
   
    <div><button class="btn btn-success text-center" (click)="searchUser()">Search</button></div>
  </form>

  <div *ngIf="user" >
         <p>name:{{user.name}}</p>
         <img class="image" src="{{user.avatar_url}}" alt="">
         <p>{{user.following}}</p>
         <p>{{user.followers}}</p>
  </div>

  <div class="container" style="text-align: center;">

    <div class="row" >
        <div class="col-md-6" *ngFor="let repos of repository" appHighlight>
            <div class="card mt-3">

                <p  class="text-center pt-4" style="font-weight: 700;">
                   <strong>{{repos.name}}</strong> 
                </p>
                <p>
                    {{repos.description}}
                </p>

                <p>
                    {{repos.language}}
                </p>
                <p>
                   Created on {{repos.created_at | date}}
                </p>
                <div class="card-footer text-center">
                    <a href="{{repos.html_url }}" class="pb-2" target="_blank"><button class="btn btn-success">check repo</button> </a>
                </div>

            </div>
        </div>

    </div>

</div>