 <div class="icon"> 
  <i class="fa-brands fa-github">  </i>
  <h1>Github Search</h1>
 </div>

<form class="search container-fluid">
   
      <input type="text" class="form-control" placeholder="Enter github username you want to search..." [(ngModel)]="myusername" name="myusername"  style="text-align:center"> 
   
    <div><button class="btn btn-success text-center" (click)="searchUser()">Search</button></div>
  </form>

  <div  class="nest container-fluid col-md-12" *ngIf="user" > 
    <img class="image" src="{{user.avatar_url}}" alt="">
         <p id="styl" class="bg-secondary search">name:{{user.name}}</p> 
        
          <!-- <p>repos:{{user.repository}}</p> -->
          <p id="styl" class="bg-danger t-5">following:{{user.following}}</p>
          <p id="styl" class="bg-warning t-5">followers:{{user.followers}}</p>
        <a class="bg-primary" href="">view on github</a>
  </div>

  <div class="container" style="text-align: center;">

    <div id="repos" class="row container-fluid " >
        <div class="col-md-6" *ngFor="let repos of repository" appHighlight>
            <div class="card mt-3">

                <p  class="text-center pt-4" style="font-weight: 700;">
                   <strong>{{repos.name}}</strong> 
                </p>
                <p>
                    {{repos.description}}
                </p>

                <p>
                    {{repos.language}}
                </p>
                <p>
                   Created on {{repos.created_at | date}}
                </p>
                <div class="card-footer text-center">
                    <a href="{{repos.html_url }}" class="pb-2" target="_blank"><button class="btn btn-success">check repo</button> </a>
                </div>

            </div>
        </div>

    </div>

</div>