 <div class="navbar"> 
   <ul>
     <li><a href="">home</a></li>
     <li><a href="">repos</a></li>
     <li><a href="">about</a></li>
   </ul>
 </div>

<form>
   
      <input type="text" class="form-control" placeholder="Enter github username you want to search..." [(ngModel)]="myusername" name="myusername"  style="text-align:center"> 
   
    <div><button class="btn btn-success" (click)="searchUser()">Search</button></div>
  </form>

  <div *ngIf="user" >
         <p>name:{{user.name}}</p>
         <p>{{user.avatar_url}}</p>
         <p>{{user.folowing}}</p>
         <p>{{user.folowers}}</p>
  </div>