You 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
 
ul{
    float: right;
}
 
.form-control{
    width: 500px;
    margin: 50px 550px 50px;
    
}

a{
    text-decoration: none;
    float: right;
    color: white;
        
    
}

.fa-brands{
    font-size: 50px;
}

.icon{
    text-align: center;
}


.search{
    text-align: center;
}

.image{
    border-radius: 200px;
    height: 300px;
    
}

#styl{
    width: 100px;
    text-align: center;
    height: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    border-radius: 10px;
}




.nest{
    
    width: fit-content;
    border-radius: 30px;
    /* position: relative; */
    border: 2px solid gray;
    /* left: 350px; */
    /* margin-left: 700px; */
    /* margin-left: 60px; */
    display: flex;
    text-align: center;
    margin: 70px;
    padding: 30px;
    margin-left: 370px;

}

#styl{
    /* margin-left: 700px; */
    margin-top: 170px;
    padding-top: 10px;
    width: 150px;
    height: 40px;
}



.card{
    background-color: rgb(34, 33, 37);
    border-radius: 20px;
    box-shadow: 5px 5px 25px 25px #888888;
    margin: 60px;
    color: white;
}
 
