/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
ul{
    float: right;
}
 
.form-control{
    width: 500px;
    margin: 50px 550px 50px;
    
}

a{
    text-decoration: none;
    float: right;
    color: white;
        
    
}

.navbar ul li {
    text-decoration: none;
    display: inline-block;
    padding-right: 10px;
   
    
    padding-top: 10px;
    font-weight: bold;
}

.navbar{
    background-color: rgb(0, 0, 15);
    padding-left: 1200px;
}

.btn {
    text-align: center;
    margin-left: 100px;
}

.search{
    text-align: center;
}